<div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4" > <!-- Para ocultar el cargando cuando ya hayan cargado las imagenes -->
  <a *ngFor="let item of productoService.productosFiltrado" 
  [routerLink]="['/item',item.cod]" 
  class=" animated fadeIn rk-item ae-masonry__item">
  <!--Para poder indicarle a Angular que va a recibir parametros en la url, se debe encerrar el routerlink entre corchetes-->
  <!--Y en el contenido de la respuesta, se debe colocar entre comillas simples la primera parte de la url, la segunda parte es el parametro, y NO va en comillas simples-->
    <img src="assets/productos/{{item.url}}.jpg" alt="">
    <div class="item-meta">
      <h2>{{item.titulo}}</h2>
      <p>{{item.categoria}}</p>
    </div>
  </a>
    
</div>